In [2]:
# Scrape KenPom
# https://kenpom.com/index.php?y=2008
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

season = np.arange(2008,2023,1)
season = season[(season!=2020)]
allkp = pd.DataFrame(columns=['Year','Team', 'Conf','AdjEM','AdjO','AdjD','AdjT','SOSEM','SOSO','SOSD'])
for y in season:
    url = f'https://kenpom.com/index.php?y={y}'
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    table = soup.find('table', class_=None)
    
    for row in table.tbody.find_all('tr'):    
        # Find all data for each column
        columns = row.find_all('td')
        
        if(columns != []):
            
            Team = columns[1].text.strip()
            Conf = columns[2].text.strip()
            
            AdjEM = columns[4].text.strip()
            AdjO = columns[5].text.strip()
            AdjD = columns[7].text.strip()
            AdjT = columns[9].text.strip()
            SOSEM = columns[13].text.strip()
            SOSO = columns[15].text.strip()
            SOSD = columns[17].text.strip()

            allkp = allkp.append({'Year':y,'Team': Team,'Conf':Conf,'AdjEM':AdjEM,'AdjO':AdjO,'AdjD':AdjD,'AdjT':AdjT,'SOSEM':SOSEM,'SOSO':SOSO,'SOSD':SOSD}, ignore_index=True)
            allkp['Team'] = allkp['Team'].str.replace('\d+','').str.rstrip()
allkp.to_csv('../data/A3_kenpom.csv',index=False)

C:\Users\harmk\AppData\Local\Temp/ipykernel_12544/2974161292.py:35: FutureWarning: The default value of regex will change from True to False in a future version.
  allkp['Team'] = allkp['Team'].str.replace('\d+','').str.rstrip()

In [4]:
allkp.to_csv('../data/A3_kenpom.csv',index=False)
allkp

,Year,Team,Conf,AdjEM,AdjO,AdjD,AdjT,SOSEM,SOSO,SOSD
0,2008,Kansas,B12,+35.21,120.9,85.7,66.8,+9.57,109.2,99.6
1,2008,Memphis,CUSA,+31.51,118.0,86.5,68.1,+5.83,107.0,101.1
2,2008,North Carolina,ACC,+30.22,122.1,91.9,72.5,+10.18,108.0,97.8
3,2008,UCLA,P10,+29.94,118.0,88.1,64.1,+10.03,109.3,99.3
4,2008,Wisconsin,B10,+26.68,113.5,86.8,61.1,+7.35,107.1,99.8
...,...,...,...,...,...,...,...,...,...,...
4887,2022,Maryland Eastern Shore,MEAC,-24.05,82.7,106.7,68.2,+2.06,100.0,97.9
4888,2022,Idaho,BSky,-24.22,88.4,112.6,70.4,-0.14,100.6,100.7
4889,2022,Chicago St.,WAC,-26.93,85.2,112.1,68.9,+1.24,102.4,101.1
4890,2022,Arkansas Pine Bluff,SWAC,-27.15,84.0,111.2,71.0,+7.88,105.0,97.1
4891,2022,Mississippi Valley St.,SWAC,-36.33,80.8,117.1,74.4,+9.08,107.5,98.4

In [3]:

# Scrape ESPN BPI
# https://www.espn.com/mens-college-basketball/bpi/_/view/bpi/season/2008/page/2
# Importing the required libraries
import requests
import pandas as pd
from bs4 import BeautifulSoup

season = np.arange(2008,2023,1)
season = season[(season!=2020)]
page = np.arange(1,7,1)
allBPI = pd.DataFrame(columns=['Year','Team','BPIO','BPID'])
for y in season:
    for x in page:
        # Downloading contents of the web page
        url = f"https://www.espn.com/mens-college-basketball/bpi/_/view/bpi/season/{y}/page/{x}"
        data = requests.get(url).text

        # Creating BeautifulSoup object
        soup = BeautifulSoup(data, 'html.parser')
        table = soup.find('table', class_='bpi__table')

        # Collecting Ddata
        for row in table.tbody.find_all('tr'):    
            # Find all data for each column
            columns = row.find_all('td')
            
            if(columns != []):
               
                Team = columns[1].find_all('span')[1].text.strip()
               
                BPIO = columns[4].text.strip()
                BPID = columns[5].text.strip()
                
                allBPI = allBPI.append({'Year':y,'Team': Team,'BPIO':BPIO,'BPID':BPID}, ignore_index=True)
allBPI.to_csv('../data/A3_BPI.csv',index=False)

In [4]:
allBPI

      Year               Team  BPIO  BPID
0     2008             Kansas  12.4   9.6
1     2008     North Carolina  19.2   1.0
2     2008            Memphis  11.3   8.0
3     2008               UCLA   7.9  10.9
4     2008               Duke  13.8   4.3
...    ...                ...   ...   ...
4195  2022            Fordham  -5.1   0.6
4196  2022            Stetson  -0.8  -3.9
4197  2022  St. Francis (BKN)  -2.5  -2.2
4198  2022        Florida A&M  -5.5   0.7
4199  2022         Evansville  -1.1  -3.7

[4200 rows x 4 columns]

In [7]:
# Scrape Basketball Reference
# https://www.sports-reference.com/cbb/seasons/2008-ratings.html
# Importing the required libraries
import requests
import pandas as pd
from bs4 import BeautifulSoup

season = np.arange(2008,2023,1)
season = season[(season!=2020)]
allBR = pd.DataFrame(columns=['Year','Team','W','L','Pts','Opp','MOV','SOS','OSRS','DSRS','SRS'])
for y in season:
    # Downloading contents of the web page
    url = f"https://www.sports-reference.com/cbb/seasons/{y}-ratings.html"
    data = requests.get(url).text

    # Creating BeautifulSoup object
    soup = BeautifulSoup(data, 'html.parser')
    table = soup.find('table', class_='stats_table')

    # Collecting Ddata
    for row in table.tbody.find_all('tr'):    
        # Find all data for each column
        columns = row.find_all('td')
        if(columns != []):
            Team = columns[0].text.strip()
            if y < 2020:
                W = columns[3].text.strip()
                L = columns[4].text.strip()
                Pts = columns[5].text.strip()
                Opp = columns[6].text.strip()
                MOV = columns[7].text.strip()
                SOS = columns[9].text.strip()
                OSRS = columns[11].text.strip()
                DSRS = columns[12].text.strip()
                SRS = columns[13].text.strip()
            if y > 2020:
                W = columns[4].text.strip()
                L = columns[5].text.strip()
                Pts = columns[6].text.strip()
                Opp = columns[7].text.strip()
                MOV = columns[8].text.strip()
                SOS = columns[10].text.strip()
                OSRS = columns[12].text.strip()
                DSRS = columns[13].text.strip()
                SRS = columns[14].text.strip()
            allBR = allBR.append({'Year':y,'Team':Team,"W":W,'L':L,'Pts':Pts,'Opp':Opp,'MOV':MOV,'SOS':SOS,'OSRS':OSRS,'DSRS':DSRS,'SRS':SRS},ignore_index=True)
allBR.to_csv('../data/A3_BR.csv',index=False)

In [8]:
allBR

,Year,Team,W,L,Pts,Opp,MOV,SOS,OSRS,DSRS,SRS
0,2008,Kansas,37,3,80.5,61.5,19.03,8.20,14.90,11.99,26.90
1,2008,North Carolina,36,3,88.6,72.5,16.05,8.12,23.41,0.76,24.17
2,2008,Memphis,38,2,79.9,61.9,17.98,5.76,13.46,10.28,23.73
3,2008,UCLA,35,4,73.5,59.0,14.54,7.71,8.60,13.10,21.71
4,2008,Duke,28,6,83.2,69.4,13.79,9.28,16.48,5.04,21.52
...,...,...,...,...,...,...,...,...,...,...,...
4845,2022,Samford,2,0,92.5,73.5,19.00,,,,
4846,2022,Stephen F. Austin,2,0,79.0,68.0,11.00,,,,
4847,2022,Texas A&M-Corpus Christi,1,0,102.0,64.0,38.00,,,,
4848,2022,UC-Santa Barbara,1,0,119.0,65.0,54.00,,,,
4849,2022,Weber State,1,0,100.0,60.0,40.00,,,,