In [42]:
# Make everyon match KenPom

import pandas as pd
import numpy as np


BPI = pd.read_csv("A3_BPI.csv")
BR = pd.read_csv('A3_BR.csv')
KP = pd.read_csv('A3_kenpom.csv')
FG = pd.read_csv('B1_FavGames.csv')

BPI['Team'] = BPI['Team'].replace({'State':'St.'}, regex=True)
BR['Team'] = BR['Team'].replace({'State':'St.'}, regex=True)
KP['Team'] = KP['Team'].replace({'N.C. State':'North Carolina St.','LIU Brooklyn':'LIU','Arkansas Little Rock':'Little Rock','College of Charleston':'Charleston'})
 
KPN = np.sort(KP['Team'].unique())
BPIN = np.sort(BPI['Team'].unique())
BRN = np.sort(BR['Team'].unique())
FGN = np.sort(FG['AFTeam'].unique())

In [43]:
BPI2fix = list(set(BPIN) - set(KPN))
BR2fix = list(set(BRN) - set(KPN))
BPI2KP = list(set(KPN) - set(BPIN))
BR2KP = list(set(KPN) - set(BRN))

dict = {'BPI2fix':BPI2fix}
out = pd.DataFrame(dict)
out.to_csv('B1_BPI2fix.csv',index=False)
dict = {'BR2fix':BR2fix}
out = pd.DataFrame(dict)
out.to_csv('B1_BR2fix.csv',index=False)
dict = {'BPI2KP':BPI2KP}
out = pd.DataFrame(dict)
out.to_csv('B1_BPI2KP.csv',index=False)
dict = {'BR2KP':BR2KP}
out = pd.DataFrame(dict)
out.to_csv('B1_BR2KP.csv',index=False)

In [44]:
import pandas as pd

BPI2Replace = pd.read_csv("B1_BPI2replace.csv")
LB = list(BPI2Replace['BPI2fix'])
LA = list(BPI2Replace['BPI2KP'])
BPI['Team'] = BPI['Team'].replace(LB,LA)

In [45]:
BPIN = np.sort(BPI['Team'].unique())
BPI2fix = list(set(BPIN) - set(KPN))
BPI2fix

[]

In [46]:
import pandas as pd

BR2Replace = pd.read_csv("B1_BR2replace.csv")
LB = list(BR2Replace['BR2fix'])
LA = list(BR2Replace['BR2KP'])
BR['Team'] = BR['Team'].replace(LB,LA)

In [47]:
BRN = np.sort(BR['Team'].unique())
BR2fix = list(set(BRN) - set(KPN))
BR2fix

[]

In [48]:
#Merge KP BPI BR

KPBPI = KP.merge(BPI,how='left', on=['Year','Team'])
KPBPIBR = KPBPI.merge(BR, how = 'left', on=['Year','Team'])

KPBPIBR.to_csv('B3_KPBPIBR.csv',index=False)

In [49]:
FG0821 = FG[FG['Year']>2007]
FG0821B = FG0821[FG0821['Game']>0]
FG0821B

,Year,Round,Region,Game,AFSeed,AFTeam,AFScore,AUSeed,AUTeam,AUScore
1457,2008,1,NW,1,1,North Carolina,113,16,Mount St. Mary's,74
1458,2008,1,NW,2,8,Indiana,72,9,Arkansas,86
1459,2008,1,NW,3,5,Notre Dame,68,12,George Mason,50
1460,2008,1,NW,4,4,Washington St.,71,13,Winthrop,40
1461,2008,1,NW,5,6,Oklahoma,72,11,Saint Joseph's,64
...,...,...,...,...,...,...,...,...,...,...
2313,2021,4,NE,59,1,Baylor,81,3,Arkansas,72
2314,2021,4,SE,60,2,Houston,67,12,Oregon St.,61
2315,2021,5,F4,61,1,Gonzaga,93,11,UCLA,90
2316,2021,5,F4,62,1,Baylor,78,2,Houston,59
2317,2021,6,Champ,63,1,Baylor,86,1,Gonzaga,70

In [50]:
#https://stackoverflow.com/questions/53645882/pandas-merging-101

#left.merge(right, left_on=['lkey1', 'lkey2'], right_on=['rkey1', 'rkey2'])
#left2.merge(right2, left_on='keyLeft', right_on='keyRight', how='inner')

AllF = FG0821B.merge(KPBPIBR, left_on = ['Year','AFTeam'], right_on = ['Year','Team'], how = 'left')
AllFandU = AllF.merge(KPBPIBR, left_on = ['Year','AUTeam'], right_on = ['Year','Team'], how = 'left')
AllFandU.to_csv('B3_AllFandU.csv',index=False)