In [2]:
# Make everyon match KenPom

import pandas as pd
import numpy as np


BPI = pd.read_csv("../data/A3_BPI.csv")
BR = pd.read_csv('../data/A3_BR.csv')
KP = pd.read_csv('../data/A3_kenpom.csv')
FG = pd.read_csv('../data/B1_FavGames.csv')

BPI['Team'] = BPI['Team'].replace({'State':'St.'}, regex=True)
BR['Team'] = BR['Team'].replace({'State':'St.'}, regex=True)
KP['Team'] = KP['Team'].replace({'N.C. State':'North Carolina St.','LIU Brooklyn':'LIU','Arkansas Little Rock':'Little Rock','College of Charleston':'Charleston'})
 
KPN = np.sort(KP['Team'].unique())
BPIN = np.sort(BPI['Team'].unique())
BRN = np.sort(BR['Team'].unique())
FGN = np.sort(FG['AFTeam'].unique())

In [3]:
BPI2fix = list(set(BPIN) - set(KPN))
BR2fix = list(set(BRN) - set(KPN))
BPI2KP = list(set(KPN) - set(BPIN))
BR2KP = list(set(KPN) - set(BRN))

dict = {'BPI2fix':BPI2fix}
out = pd.DataFrame(dict)
out.to_csv('../data/B1_BPI2fix.csv',index=False)
dict = {'BR2fix':BR2fix}
out = pd.DataFrame(dict)
out.to_csv('../data/B1_BR2fix.csv',index=False)
dict = {'BPI2KP':BPI2KP}
out = pd.DataFrame(dict)
out.to_csv('../data/B1_BPI2KP.csv',index=False)
dict = {'BR2KP':BR2KP}
out = pd.DataFrame(dict)
out.to_csv('../data/B1_BR2KP.csv',index=False)

In [4]:
import pandas as pd

BPI2Replace = pd.read_csv("../data/B1_BPI2replace.csv")
LB = list(BPI2Replace['BPI2fix'])
LA = list(BPI2Replace['BPI2KP'])
BPI['Team'] = BPI['Team'].replace(LB,LA)

In [5]:
BPIN = np.sort(BPI['Team'].unique())
BPI2fix = list(set(BPIN) - set(KPN))
BPI2fix

[]

In [6]:
import pandas as pd

BR2Replace = pd.read_csv("../data/B1_BR2replace.csv")
LB = list(BR2Replace['BR2fix'])
LA = list(BR2Replace['BR2KP'])
BR['Team'] = BR['Team'].replace(LB,LA)

In [7]:
BRN = np.sort(BR['Team'].unique())
BR2fix = list(set(BRN) - set(KPN))
BR2fix

[]

In [8]:
#Merge KP BPI BR P

KPBPI = KP.merge(BPI,how='left', on=['Year','Team'])
KPBPIBR = KPBPI.merge(BR, how = 'left', on=['Year','Team'])
pase = pd.read_csv('../data/d3_PASE.csv')
pase.columns =['Team', 'PASE']
KPBPIBRP = KPBPIBR.merge(pase, how = 'left', on = ['Team'])

KPBPIBR.to_csv('../data/B3_KPBPIBR.csv',index=False)
KPBPIBRP.to_csv('../data/B3_KPBPIBRP.csv',index=False)

In [9]:
KPBPIBRP

,Year,Team,Conf,AdjEM,AdjO,AdjD,AdjT,SOSEM,SOSO,SOSD,...,W,L,Pts,Opp,MOV,SOS,OSRS,DSRS,SRS,PASE
0,2008,Kansas,B12,35.21,120.9,85.7,66.8,9.57,109.2,99.6,...,37.0,3.0,80.5,61.5,19.03,8.20,14.90,11.99,26.90,-0.008730
1,2008,Memphis,CUSA,31.51,118.0,86.5,68.1,5.83,107.0,101.1,...,38.0,2.0,79.9,61.9,17.98,5.76,13.46,10.28,23.73,0.054398
2,2008,North Carolina,ACC,30.22,122.1,91.9,72.5,10.18,108.0,97.8,...,36.0,3.0,88.6,72.5,16.05,8.12,23.41,0.76,24.17,0.268308
3,2008,UCLA,P10,29.94,118.0,88.1,64.1,10.03,109.3,99.3,...,35.0,4.0,73.5,59.0,14.54,7.71,8.60,13.10,21.71,0.423077
4,2008,Wisconsin,B10,26.68,113.5,86.8,61.1,7.35,107.1,99.8,...,31.0,5.0,67.3,54.4,12.86,6.73,2.83,16.76,19.59,0.288949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4895,2022,Maryland Eastern Shore,MEAC,-24.05,82.7,106.7,68.2,2.06,100.0,97.9,...,1.0,2.0,69.0,61.0,8.00,2.93,-11.34,1.77,-9.57,NaN
4896,2022,Idaho,BSky,-24.22,88.4,112.6,70.4,-0.14,100.6,100.7,...,1.0,1.0,92.0,90.0,2.00,6.00,0.00,0.00,0.00,-0.256944
4897,2022,Chicago St.,WAC,-26.93,85.2,112.1,68.9,1.24,102.4,101.1,...,2.0,0.0,72.0,64.0,8.00,5.56,5.45,8.12,13.56,NaN
4898,2022,Arkansas Pine Bluff,SWAC,-27.15,84.0,111.2,71.0,7.88,105.0,97.1,...,0.0,2.0,74.0,90.5,-16.50,14.10,24.02,-26.43,-2.41,0.993056
4899,2022,Mississippi Valley St.,SWAC,-36.33,80.8,117.1,74.4,9.08,107.5,98.4,...,0.0,2.0,63.5,107.0,-43.50,12.21,-5.79,-25.50,-31.29,-0.026042

In [10]:
FG0821 = FG[FG['Year']>2007]
FG0821B = FG0821[FG0821['Game']>0]

In [15]:
#https://stackoverflow.com/questions/53645882/pandas-merging-101

#left.merge(right, left_on=['lkey1', 'lkey2'], right_on=['rkey1', 'rkey2'])
#left2.merge(right2, left_on='keyLeft', right_on='keyRight', how='inner')

AllF = FG0821B.merge(KPBPIBRP, left_on = ['Year','AFTeam'], right_on = ['Year','Team'], how = 'left')
AllFandU = AllF.merge(KPBPIBRP, left_on = ['Year','AUTeam'], right_on = ['Year','Team'], how = 'left')
AllFandU = AllFandU.drop(['Team_x','Team_y'],axis=1)
AllFandU.to_csv('../data/B3_AllFandU.csv',index=False)