In [ ]:
import pandas as pd
import numpy as np

AG = pd.read_csv('../data/B1_FavGames.csv')
AGP = AG[AG['Year']==2008][AG['Game']>=1]
AGPF = AGP.drop(['AUSeed','AUTeam','AUScore','Uti'],axis=1)
AGPU = AGP.drop(['AFSeed','AFTeam','AFScore','Fti'],axis=1)
AGPF['STS'] = AGPF['AFSeed'].astype(str)+' '+AGPF['AFTeam']+' '+AGPF['AFScore'].astype(str)
AGPF = AGPF.drop(['AFSeed','AFTeam','AFScore'],axis=1).rename(columns={"Fti": "ti"})
AGPU['STS'] = AGPU['AUSeed'].astype(str)+' '+AGPU['AUTeam']+' '+AGPU['AUScore'].astype(str)
AGPU = AGPU.drop(['AUSeed','AUTeam','AUScore'],axis=1).rename(columns={"Uti": "ti"})
AGC = pd.concat([AGPF,AGPU]).sort_values(by=['Game','ti'])
AGC.reset_index(inplace=True)
R1W = np.array(AGC[AGC['Game']<=16]['STS'])
R1E = np.array(AGC[(AGC['Game']>=17) & (AGC['Game']<=32)]['STS'])
R2W = np.array(AGC[(AGC['Game']>=33) & (AGC['Game']<=40)]['STS'])
B16 = np.full((16),'',dtype=object)
R2W = np.insert(B16, np.arange(len(R2W)),R2W)
df = pd.DataFrame({'R1W':R1W,'R2W':R2W,'R1E':R1E})

In [ ]:
Champ = AGP.iloc[-1,]
if Champ['AFScore']>Champ['AUScore']:
    winner = Champ['AFTeam']
else:
    winner = Champ['AUTeam']
winner

In [ ]:
br_headers = ['Round 1 W','Round 2 W','Round 3 W','Round 4 W','Final Four W','Championship',
              'Final Four E','Round 4 E','Round 3 E','Round 2 E','Round 1 E']
df = pd.DataFrame(columns = br_headers)
for x in br_headers:
    for y in range(64):
        df.loc[y,x]=''
for y in range(64):
    df.loc[y,'Round 1 W']= AGC.loc[y,'STS']
for y in range(0,63,2):
    df.loc[y,'Round 2 W']= AGC.loc[y/2+64,'STS']
df

In [ ]:
import pandas as pd

AG = pd.read_csv('../data/B1_FavGames.csv')


LG = AG[AG['Round']=='6']
CS = pd.DataFrame({'Round','Seed'})
for x in range(0,36):
    if LG.iloc[x]["AFScore"]>LG.iloc[x]["AUScore"]:
        ws = LG.iloc[x]["AFSeed"]
    else:
        ws = LG.iloc[x]["AUSeed"]
    CS.loc[x,'Round'] = 'W'
    CS.loc[x,'Seed'] = ws
cs = pd.crosstab(index=CS['Seed'],columns=CS['Round'])
fs = pd.crosstab(index=AG['AFSeed'],columns=AG['Round'])
us = pd.crosstab(index=AG['AUSeed'],columns=AG['Round'])
ufs = fs.add(us, fill_value=0).astype(int).drop(['PI'],axis=1)
sh = ufs.add(cs, fill_value=0).fillna(0).astype(int)

sh

In [105]:
import pandas as pd
import numpy as np
AG = pd.read_csv('../data/B1_FavGames.csv')

# table of wins
fw = pd.crosstab(index=AG['AFTeam'],columns=AG['Year'])
uw = pd.crosstab(index=AG['AUTeam'],columns=AG['Year'])
cw = fw.add(uw, fill_value=0).fillna(0).astype(int) - 1
cw = cw.replace(-1, '')


# table of seeds
AG1 = AG[AG['Round']=='1']
fs = AG1.pivot(index='AFTeam', columns='Year', values = 'AFSeed').fillna(0).astype(int)
us = AG1.pivot(index='AUTeam', columns='Year', values = 'AUSeed').fillna(0).astype(int)
cs = fs.add(us, fill_value=0).fillna(0).astype(int)
cs = cs.replace(0, '')

# table of expected wins
sh = pd.read_csv('../data/c3_SeedHistory.csv')
ew = pd.DataFrame({'Seed':np.arange(1,17),'Exp Wins':sh['Exp Wins']})

ewty = cs.replace(list(ew['Seed']),list(ew['Exp Wins']))

ewz = (ewty * -1).replace(r'^\s*$', np.nan, regex=True).fillna(0)
cwz = cw.replace(r'^\s*$', np.nan, regex=True).fillna(0)
pase = cwz.add(ewz).replace(0, np.nan)
pase['PASE']=pase.mean(axis=1)

In [116]:
cw.astype(str)

Year,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2021
Abilene Christian,,,,,,,,,,,...,,,,,,,,,0,1
Air Force,,,,,,,,,,,...,,,,,,,,,,
Akron,,0,,,,,,,,,...,0,,0,,,,,,,
Alabama,2,2,2,,0,2,2,1,,1,...,,0,,,,,,1,,2
Alabama A&M,,,,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wofford,,,,,,,,,,,...,0,,,0,0,,,,1,
Wright St.,,,,,,,,,0,,...,,,,,,,,0,,
Wyoming,,,2,0,,,,,,,...,,,,,0,,,,,
Xavier,,0,1,0,0,2,1,,1,,...,0,2,,0,2,1,3,1,,
Yale,,,,,,,,,,,...,,,,,,1,,,0,