In [26]:
import pandas as pd
import numpy as np

AG = pd.read_csv('../data/B1_FavGames.csv')
AGP = AG[AG['Year']==2008][AG['Game']>=1]
AGPF = AGP.drop(['AUSeed','AUTeam','AUScore','Uti'],axis=1)
AGPU = AGP.drop(['AFSeed','AFTeam','AFScore','Fti'],axis=1)
AGPF['STS'] = AGPF['AFSeed'].astype(str)+' '+AGPF['AFTeam']+' '+AGPF['AFScore'].astype(str)
AGPF = AGPF.drop(['AFSeed','AFTeam','AFScore'],axis=1).rename(columns={"Fti": "ti"})
AGPU['STS'] = AGPU['AUSeed'].astype(str)+' '+AGPU['AUTeam']+' '+AGPU['AUScore'].astype(str)
AGPU = AGPU.drop(['AUSeed','AUTeam','AUScore'],axis=1).rename(columns={"Uti": "ti"})
AGC = pd.concat([AGPF,AGPU]).sort_values(by=['Game','ti'])
AGC.reset_index(inplace=True)
R1W = np.array(AGC[AGC['Game']<=16]['STS'])
R1E = np.array(AGC[(AGC['Game']>=17) & (AGC['Game']<=32)]['STS'])
R2W = np.array(AGC[(AGC['Game']>=33) & (AGC['Game']<=40)]['STS'])
B16 = np.full((16),'',dtype=object)
R2W = np.insert(B16, np.arange(len(R2W)),R2W)
df = pd.DataFrame({'R1W':R1W,'R2W':R2W,'R1E':R1E})

C:\Users\harmk\AppData\Local\Temp/ipykernel_9836/1447259546.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  AGP = AG[AG['Year']==2008][AG['Game']>=1]

In [28]:
AGC

     index  Year Round Region  Game    ti                     STS
0     1457  2008     1     NW     1   1.0    1 North Carolina 113
1     1457  2008     1     NW     1   2.0  16 Mount St. Mary's 74
2     1458  2008     1     NW     2   3.0            8 Indiana 72
3     1458  2008     1     NW     2   4.0           9 Arkansas 86
4     1459  2008     1     NW     3   5.0         5 Notre Dame 68
..     ...   ...   ...    ...   ...   ...                     ...
121   1517  2008     5     F4    61  17.0             1 Kansas 84
122   1518  2008     5     F4    62  33.0            1 Memphis 78
123   1518  2008     5     F4    62  49.0               1 UCLA 63
124   1519  2008     6  Champ    63  17.0             1 Kansas 75
125   1519  2008     6  Champ    63  33.0            1 Memphis 68

[126 rows x 7 columns]

In [47]:
br_headers = ['Round 1 W','Round 2 W','Round 3 W','Round 4 W','Final Four W','Championship',
              'Final Four E','Round 4 E','Round 3 E','Round 2 E','Round 1 E']
df = pd.DataFrame(columns = br_headers)
for x in br_headers:
    for y in range(64):
        df.loc[y,x]=''
for y in range(64):
    df.loc[y,'Round 1 W']= AGC.loc[y,'STS']
for y in range(0,63,2):
    df.loc[y,'Round 2 W']= AGC.loc[y/2+64,'STS']
df

,Round 1 W,Round 2 W,Round 3 W,Round 4 W,Final Four W,Championship,Final Four E,Round 4 E,Round 3 E,Round 2 E,Round 1 E
0,1 North Carolina 113,1 North Carolina 108,,,,,,,,,
1,16 Mount St. Mary's 74,,,,,,,,,,
2,8 Indiana 72,9 Arkansas 77,,,,,,,,,
3,9 Arkansas 86,,,,,,,,,,
4,5 Notre Dame 68,5 Notre Dame 41,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...
59,14 Georgia 61,,,,,,,,,,
60,7 West Virginia 75,7 West Virginia 73,,,,,,,,,
61,10 Arizona 65,,,,,,,,,,
62,2 Duke 71,2 Duke 67,,,,,,,,,
63,15 Belmont 70,,,,,,,,,,