In [3]:
import pandas

ModuleNotFoundError: No module named 'pandas'

In [1]:
# Make everyon match KenPom

import pandas as pd
import numpy as np

KP = pd.read_csv('../data/A3_kenpom.csv')
repair = pd.read_csv('../data/B1_repair.csv')
LF = list(repair['tofix'])
LR = list(repair['repair'])
KP['Team'] = KP['Team'].replace(LF,LR)
KP = KP[KP['Team']!='out']
sn = KP[KP['Year']==2022]['Team'].unique()
KPN = KP['Team'].unique()
KP2fix = list(set(KPN) - set(sn))
KP.to_csv('../data/A3_kenpom.csv',index=False)
KP2fix

ModuleNotFoundError: No module named 'pandas'

In [2]:
Fav = pd.read_csv("../data/B1_FavGames.csv")
Fav['AFTeam'] = Fav['AFTeam'].replace(LF,LR)
Fav = Fav[Fav['AFTeam']!='out']
FavN = Fav['AFTeam'].unique()
Fav2fix = list(set(FavN) - set(sn))
Fav2fix

[]

In [3]:
Fav['AUTeam'] = Fav['AUTeam'].replace(LF,LR)
Fav = Fav[Fav['AUTeam']!='out']
FavN = Fav['AUTeam'].unique()
Fav2fix = list(set(FavN) - set(sn))
Fav.to_csv('../data/B1_FavGames.csv',index=False)
Fav

,Year,Round,Region,Game,AFSeed,AFTeam,AFScore,AUSeed,AUTeam,AUScore,Fti,Uti
0,1985,1,NW,1,1,St. John's,83,16,Southern,59,1,2
1,1985,1,NW,2,8,Iowa,54,9,Arkansas,63,3,4
2,1985,1,NW,3,5,Washington,58,12,Kentucky,66,5,6
3,1985,1,NW,4,4,UNLV,85,13,San Diego St.,80,7,8
4,1985,1,NW,5,6,Tulsa,75,11,UTEP,79,9,10
...,...,...,...,...,...,...,...,...,...,...,...,...
2347,2022,1,SE,28,4,Kentucky,1,13,Louisiana Tech,1,55,56
2348,2022,1,SE,29,6,Providence,1,11,TCU,1,57,58
2349,2022,1,SE,30,3,Duke,1,14,Wagner,1,59,60
2350,2022,1,SE,31,7,USC,1,10,Saint Mary's,1,61,62
2351,2022,1,SE,32,2,Kansas,1,15,Weber St.,1,63,64

In [4]:
BPI = pd.read_csv("../data/A3_BPI.csv")
BPI['Team'] = BPI['Team'].replace({'State':'St.'}, regex=True)
BPI['Team'] = BPI['Team'].replace(LF,LR)
BPI = BPI[BPI['Team']!='out']
BPIN = BPI['Team'].unique()
BPI2fix = list(set(BPIN) - set(sn))

BPI.to_csv('../data/A3_BPI.csv',index=False)
BPI2fix

[]

In [5]:
BR = pd.read_csv("../data/A3_BR.csv")
BR['Team'] = BR['Team'].replace({'State':'St.'}, regex=True)
BR['Team'] = BR['Team'].replace(LF,LR)
BR = BR[BR['Team']!='out']
BRN = BR['Team'].unique()
BR2fix = list(set(BRN) - set(sn))

BR.to_csv('../data/A3_BR.csv',index=False)
BR2fix

[]

In [6]:
pace = pd.read_csv("../data/d3_PASE.csv")
pace.columns = ['Team','PASE']
pace['Team'] = pace['Team'].replace(LF,LR)
pace = pace[pace['Team']!='out']
paceN = pace['Team'].unique()
pace2fix = list(set(paceN) - set(sn))

pace.to_csv('../data/d3_PASE.csv',index=False)
pace2fix

[]

In [7]:
#Merge KP BPI BR P
KPBPI = KP.merge(BPI,how='left', on=['Year','Team'])
KPBPIBR = KPBPI.merge(BR, how = 'left', on=['Year','Team'])
pase = pd.read_csv('../data/d3_PASE.csv')
pase.columns =['Team', 'PASE']
KPBPIBRP = KPBPIBR.merge(pase, how = 'left', on = ['Team'])
KPBPIBR.to_csv('../data/B3_KPBPIBR.csv',index=False)
KPBPIBRP.to_csv('../data/B3_KPBPIBRP.csv',index=False)

In [8]:
Fav = Fav[Fav['Year']>=2008]
AllF = Fav.merge(KPBPIBRP, left_on = ['Year','AFTeam'], right_on = ['Year','Team'], how = 'left')
AllFandU = AllF.merge(KPBPIBRP, left_on = ['Year','AUTeam'], right_on = ['Year','Team'], how = 'left')
AllFandU = AllFandU.drop(['Team_x','Team_y'],axis=1)
AllFandU.to_csv('../data/B3_AllFandU.csv',index=False)

In [9]:
AllFandU

,Year,Round,Region,Game,AFSeed,AFTeam,AFScore,AUSeed,AUTeam,AUScore,...,W_y,L_y,Pts_y,Opp_y,MOV_y,SOS_y,OSRS_y,DSRS_y,SRS_y,PASE_y
0,2008,PI,PI,-1,16,Mount St. Mary's,69,16,Coppin St.,60,...,16.0,21.0,59.8,66.0,-6.24,-6.20,-12.38,-2.13,-14.51,0.250000
1,2008,1,NW,1,1,North Carolina,113,16,Mount St. Mary's,74,...,19.0,15.0,69.2,67.7,1.53,-5.12,-3.87,0.28,-3.59,0.493056
2,2008,1,NW,2,8,Indiana,72,9,Arkansas,86,...,23.0,12.0,74.1,68.3,5.74,6.73,6.67,5.81,12.48,0.224537
3,2008,1,NW,3,5,Notre Dame,68,12,George Mason,50,...,23.0,11.0,69.3,62.5,6.82,-0.75,0.96,5.11,6.07,0.453704
4,2008,1,NW,4,4,Washington St.,71,13,Winthrop,40,...,22.0,12.0,64.9,58.5,6.32,-1.45,-7.17,10.78,3.61,-0.118827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,2022,1,SE,28,4,Kentucky,1,13,Louisiana Tech,1,...,16.0,4.0,78.8,67.8,11.05,-0.51,5.33,2.05,7.38,0.152778
894,2022,1,SE,29,6,Providence,1,11,TCU,1,...,13.0,4.0,68.4,61.4,7.00,4.04,0.30,10.73,11.04,-0.895833
895,2022,1,SE,30,3,Duke,1,14,Wagner,1,...,13.0,2.0,76.9,62.6,14.33,-7.13,2.13,1.95,4.09,-0.083333
896,2022,1,SE,31,7,USC,1,10,Saint Mary's,1,...,16.0,4.0,69.0,58.6,10.40,4.66,0.55,13.11,13.66,-0.201389
897,2022,1,SE,32,2,Kansas,1,15,Weber St.,1,...,15.0,5.0,78.3,69.9,8.40,-3.64,4.73,-3.82,0.92,0.163194